#title{
  display:flex;
  justify-content:space-between; 
  border-bottom:1px var(--header2) solid;
  align-items:center;
    padding:0.2em;
}

footer{
    background-color:var(--background2);
    margin-top:auto;
    padding:1em;
    padding-top:0;
}
#title > *{
  margin:0;
  padding:0;
}

#applications{
  display:flex;
  flex-direction:row;
  justify-content:center;
}
#applications > *{
  width:100%;
  max-width:460px;
}
@media (max-width: 900px) {
  #applications{
    flex-direction:column;
    justify-content:initial;
  }
  #applications > * {
  width:inherit;
  max-width:initial;
}
}

#titleLogo{
  height:clamp(5rem, 4vw, 5rem);
  max-width:100%;
  object-fit:contain;
}

.descContainer {
  border-radius:2em;
  background-color:var(--background2);
  padding:2em;
  margin:0.5em;
}
